---
---

$header-font-size: 40px;
$body-font-size: 13px;

$comparator-token-color: blue;
$parenthesis-token-color: gray;
$keyword-token-color: purple;
$string-token-color: green;
$comment-token-color: lightgreen;
$named-token-color: red;
$highlight-color: LightGoldenrodYellow;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial', serif !important;
}

h1 {
  font-size: $header-font-size;
}

h2 {
  font-size: ($header-font-size * 0.8) + ($body-font-size * 0.2);
}

h3 {
  font-size: ($header-font-size * 0.6) + ($body-font-size * 0.4);
}

h4 {
  font-size: ($header-font-size * 0.4) + ($body-font-size * 0.6);
}

h5 {
  font-size: ($header-font-size * 0.2) + ($body-font-size * 0.8);
}

h6 {
  font-size: ($body-font-size * 1.0);
}

body {
  font-family: 'Questrial', sans-serif !important;
  font-size: $body-font-size;
}

// Bootstrap Syntax Highlighting

pre code span.highlight {
  background-color: $highlight-color;
}

span.me0, pre code span.nx, pre code span.n {
  color: $named-token-color;
}

pre code span.o {
  color: $comparator-token-color;
}

pre code span.s, pre code span.s2, span.st0 {
  color: $string-token-color;
}

span.c1 {
  color: $comment-token-color;
}

pre code span.d, pre code span.dl {
  color: lighten($string-token-color, 20%);
}

pre code span.k, pre code span.kd, span.kw1, span.kw2 {
  color: $keyword-token-color;
}

span.kw2 {
  font-weight: bold;
}

pre code span.p, span.br0, span.sy0 {
  color: $parenthesis-token-color;
}

div[class*="language-"] div.highlight pre.highlight {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background: #f9f9f9;
  padding: 5px;
}

// Mermaid graphs

div.mermaid {
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 7pt;
}