---
---

$header-font-size: 40px;
$body-font-size: 13px;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif !important;
}

h1 {
  font-size: $header-font-size;
}

h2 {
  font-size: ($header-font-size * 0.8) + ($body-font-size * 0.2);
}

h3 {
  font-size: ($header-font-size * 0.6) + ($body-font-size * 0.4);
}

h4 {
  font-size: ($header-font-size * 0.4) + ($body-font-size * 0.6);
}

h5 {
  font-size: ($header-font-size * 0.2) + ($body-font-size * 0.8);
}

h6 {
  font-size: ($body-font-size * 1.0);
}

body {
  font-family: 'Questrial', sans-serif !important;
  font-size: $body-font-size;
}

// Bootstrap Syntax Highlighting

$comparator-token-color: silver
$parenthesis-token-color: gray;
$keyword-token-color: blue;
$string-token-color: green;
$named-token-color: white;
$highlight-color: LightGoldenrodYellow;

pre code span.highlight {
  background-color: $highlight-color;
}

pre code span.o {
  color: $comparator-token-color;
}

pre code span.s, pre code span.s2 {
  color: $string;
}

pre code span.d, pre code span.s2 {
  color: $string;
}

pre code span.n, pre code span.nx {
  color: lighten($string-token-color);
}

pre code span.k, pre code span.kd {
  color: $keyword-token-color
}

pre code span.p {
  color: $parenthesis-token-color;
}
